{% extends 'nav.html' %}
{% block head2 %}
<style type="text/css">
  #muls1{
    background-color: black ;
    color: white;
    border: 10px solid black;
    border-radius: 10px;
    font-size: 20px;
  }
</style>
{% endblock %}

{% block navbody %}

<div class="container-fluid" style="position: relative;">
  <div class="row">
      <div class="col-md-2"></div>
      
      <div class="col-md-8 mt-5" id='muls1' style="visibility: visible;"><br>
          निम्नलिखित गेम / ऐप को गामिफिकेशन का उपयोग करके हिंदी या तेलुगु विकिडाटा को बढ़ाने के लिए विकसित किया गया है। इसे आईआईआईटी हैदराबाद में सामाजिक कम्प्यूटिंग (Social Computing) परियोजना के एक भाग के रूप में बनाया गया था। खेल मुख्य रूप से विज्ञान और प्रौद्योगिकी क्षेत्र पर केंद्रित है।<br> <br> 
          खेल को दो भागों में विभाजित किया गया है:
        <ol>
          <li><b>मल्टी प्लेयर गेम:</b>
              उद्देश्य एक प्रश्न के लिए स्रोत के साथ संभावित उत्तर प्राप्त करना है। प्रतिभागियों को दिए गए क्षेत्र में उत्तर लिखने के लिए आवश्यक है। प्रतिभागियों को केवल उत्तर लिखने के लिए प्रोत्साहित किया जाता है यदि उन्हें यकीन है कि उत्तर सही है। उत्तर को खाली छोड़ने से आपको गलत उत्तर प्रदान करने की तुलना में अधिक बिंदु प्राप्त होंगे। साथ ही उपयोगकर्ताओं को एक स्रोत प्रदान करने के लिए प्रोत्साहित किया जाता है। यदि स्रोत सही है तो आपको उच्च बोनस मिलेगा। स्रोत गलत होने पर इसी तरह प्रतिभागियों को उच्च दंड मिलेगा। यह अतुल्यकालिक (एसिंक्रोनस) मल्टीप्लेयर गेम है।
          </li>
          <li><b>सिंगल प्लेयर गेम:</b>
              उद्देश्य उन उत्तरों को सत्यापित करना है जो हमें मल्टी प्लेयर गेम से मिला है। फिर से उपयोगकर्ताओं को प्रोत्साहित किया जाता है कि वे अनुमान न लें और केवल उत्तर दें, यदि वे उत्तर के बारे में सुनिश्चित हैं।
          </li>  
        </ol>
        प्रतिभागियों को इंटरनेट का उपयोग करने के लिए प्रोत्साहित किया जाता है।<br>
        कृपया ध्यान दें कि बहुत सारी त्रुटियां हो सकती हैं। उन्हें himanshu.maheshwari@research.iiit.ac.in पर रिपोर्ट करें। चूंकि उद्देश्य विकिडता को बढ़ाना था, इसलिए खेल की सुरक्षा इतनी सख्त नहीं है, इसे जिम्मेदारी से खेलने का अनुरोध किया जाता है।
      </div>

      <div class="col-md-2"></div>

    
  </div>
</div>

</form>

{% endblock %}