{% extends 'nav.html' %}
{% block head2 %}
<style type="text/css">
  #muls1{
    border-radius: 10px;
    background-color: #ffa3b7;
    color: black;border: 10px solid black;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 28rem;
  }
  .multi_forms{
    font-size: 20px;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: #0940ee;
    cursor: pointer;
  }
  .submit{
    font-size: 20px;
    height: 5%;
    width: 10%;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  #clockdiv{ 
    font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
    font-size: 70px; 
} 
#clockdiv > div{ 
    padding: 15px; 
    border-radius: 9px; 
    background: #00BF96; 
    display: inline-block; 
} 
#clockdiv div > span{ 
    padding: 20px; 
    border-radius: 9px; 
    background: #00816A; 
    display: inline-block; 
} 
</style>
<script type="text/javascript">
  var which_question=1;
  var x=setInterval(function() {
  s1=document.getElementById('second1').innerHTML
  s2=document.getElementById('second2').innerHTML
  if (s2==0)
  {
    s2=9;
  }
  else
  {
    s2=s2-1;
  }
  if (s2==9)
  {
    s1=s1-1;
  }
  document.getElementById('second1').innerHTML=s1;
  document.getElementById('second2').innerHTML=s2;
  if (s1==0 && s2==0) { 
        
          clearInterval(x);
          document.getElementById('answer').value=0
          document.getElementById('SUBMIT').click()
          // alert('Time Over');

        } 
}, 1000);
</script>

{% endblock %}
{% block navbody %}
{% macro render_field(field) %} {{ field.label }} {{ field(**kwargs)|safe }} {% if field.errors %} {% for error in field.errors %} {{ error }} {% endfor %} {% endif %} {% endmacro %}

<form action="" method="POST">

<div class="container-fluid" style="position: relative;">
  <div class="row">
      <div class="col-md-3"></div>
      
      <div class="col-md-6 mt-5" id='muls1' style="visibility: visible;"><br>
        
        <center>
        <div style="background-color: black;color: white;width: 80%;padding: 10px;border-radius: 20px;" id='question'>
          {{question}}
        </div>    
          
          {% for option in options %}
            <Br>
            <div class="multi_forms" onmouseover="this.style.background='green'" onmouseout="this.style.background='#0940ee'" onclick="document.getElementById('answer').value=document.getElementById('question').innerHTML+';'+this.innerHTML;document.getElementById('SUBMIT').click()">
              {{option}}
            </div>
          {% endfor %}

          <div style="visibility: hidden;">
            <div style="height: 0px;">
              {{render_field(form.answer,class_="form-control",placeholder="")}}
            </div>
            <p style="height: 0px;">
              <input class="submit" type="submit" value="सबमिट" id='SUBMIT'>
            </p>
          </div>

        </center>
        <br>
        <div class="item" >
              <div id="clockdiv"> 
                <div> 
                  <span class="seconds" id="second1">1</span> 
                </div>
                <div> 
                  <span class="seconds" id="second2">0</span> 
                </div> 
              </div> 
        </div>
        <br>
      </div>

      <div class="col-md-3"></div>

    
  </div>
</div>

</form>

{% endblock %}