{% extends 'layout.html' %}
{% block body %}
<br>
<div class="container jumbotron" style="text-align: justify;font-size: 150%">
# You can make only one account using a single email.<br>
# You cannot enter Couple Dal unless you and your bae verify logging into it.<br>
# You must not enter fake information for other couple's reference.<br>
# You must not make attempts to break other's relations unless you are <b>Anshul Singhal</b> or <b>Himanshu Maheshwari</b>.<br>
# You cannot maintain multiple relationships unless you are <b>Anshul Singhal</b> or <b>Himanshu Maheshwari</b>.<br>
<br><br><br>
<a href="/">Go Back To Home>>></a>
</div>
{% endblock %}